name: Check
on: [ push, pull_request ]
jobs:
  check:
    runs-on: ${{ matrix.os }}
    # push: always run.
    # pull_request: run only when the PR is submitted from a forked repository, not within this repository.
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macOS-latest
        - windows-latest
        gradle_task:
        - "check"
    steps:
    - uses: actions/checkout@v2
    - name: Set up OpenJDK 8
      uses: actions/setup-java@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        java-version: 8
        distribution: "zulu"
        ruby-version: 3.1
    - name: Check
#      run: ./gradlew --debug ${{ matrix.gradle_task }}
      run: "ruby nulltest.rb"
